# Visual Studio
.vs/
**/.vs/

# Build folders
bin/
obj/

# Visual Studio user files
*.user
*.suo

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

backend/OrderSystemApi/OrderSystemApi/appsettings.json
backend/OrderSystemApi/OrderSystemApi/Program.cs